@{
    ViewBag.Title = "About";
}



<div class="container" style="margin-top: 150px;">
    <div class="row">

        <div class="col-md-6">
            <p style="direction:rtl;text-align: right;">نحن نظام يستهدف شركات الحج والعمرة حيث يقدم ادارة كاملة لكافة الامور الخاصة بالحملات عن طريق حل كل مشاكل الشركات العاملة في القطاع بدءاً من نظام كامل لإدارة الامور الداخلية من حجز الفنادق و الطيران  وحتى عمل تطبيق لإدارة النظام عن طريق الموبايل وذلك لتسهيل عمل المشرفين والقائمين على الحملات ومساعدة الحجاج ويوفر النظام ايضاً موقع للشركة به العديد من المزايا التي تشمل امكانية حجز رحلات الحج والعمرة اونلاين.</p>

        </div>

        <div class="col-md-6"><img src="~/images/about-img.jpg" class="text-center" id="about-img" /></div>
    </div>

</div>
