@{
    ViewBag.Title = "Contact";
}

<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
    <div class="container" style="margin-top:150px;">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title">نسعد دوما بتواصلكم معنا</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p style="text-align: right;">يسعدنا نحن في حملة الياسين للحج أن نقدم لكم خدماتنا على مدى 24 ساعة .. كما يمكنكم أيضا ارسال ملاحظاتكم على النموذج التالي و الذي سيقوم مشرفونا باجابتكم من خلاله فور تلقي الرسالة

                <div class="find-widget">
                    حملة الياسين للحج
                </div>
                <div class="find-widget">
                    العنوان: <a href="https://maps.google.com">الكويت - الكويت العاصمة - السالمية</a>
                </div>
                <div class="find-widget">
                    الهاتف: +965777777777
                </div>

                <div class="find-widget">
                    الموقع:  <a href="https://yaseen.org">www.yaseen.org</a>
                </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="name">الاسم</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">البريد الالكتروني</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                        <label class="control-label">الموضوع</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">الرسالة</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-info" type="submit" id="form-submit">ارسال <i class="fa fa-paper-plane"></i></button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>