@{
    ViewBag.Title = " بوابة حجيج | حملة نبيل الياسين";
}
<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading">
                حملة الياسين
            </div>
            <div class="banner-sub-heading quran">
                وَأَذِّن فِي النَّاسِ بِالْحَجِّ يَأْتُوكَ رِجَالًا وَعَلَىٰ كُلِّ ضَامِرٍ يَأْتِينَ مِن كُلِّ فَجٍّ عَمِيقٍ (صدق الله العظيم)
            </div>
            <a type="button" class="btn btn-seemore text-dark btn-banner" href="@Url.Action("Register", "Account")">التسجيل</a>

        </div>
    </div>
</div>
<section id="about">
    <div class="container">
        <div class="text-intro">
            <h2>عن النظام</h2>
            <p>هو نظام يستهدف شركات الحج والعمرة حيث يقدم ادارة كاملة لكافة الامور الخاصة بالحملات عن طريق حل كل مشاكل الشركات العاملة في القطاع بدءاً من نظام كامل لإدارة الامور الداخلية من حجز الفنادق و الطيران  وحتى عمل تطبيق لإدارة النظام عن طريق الموبايل وذلك لتسهيل عمل المشرفين والقائمين على الحملات ومساعدة الحجاج ويوفر النظام ايضاً موقع للشركة به العديد من المزايا التي تشمل امكانية حجز رحلات الحج والعمرة اونلاين.</p>
        </div>
    </div>
</section>