
@{
    ViewBag.Title = "News";
}

<div class="container" style="margin-top:150px;">
    <div class="grid">
        <div class="row">
            <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="~/images/madina.jpg" alt="img17" />
                    <figcaption>
                        <h2 style="background-color: rgba(0,0,0,0.3);color:white;text-align:right;">الصاعدي: تصميم 100 باب للمسجد النبوي دون مسامير</h2>
                        <p>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="~/images/asian.jpg" alt="img25" />
                    <figcaption>
                        <h2 style="background-color: rgba(0,0,0,0.3);color:white;text-align:right;">زيادة نسبة الحجاج الآسيويين لهذا العام</h2>
                        <p>
                            <a href="#"><i class="fa fa-search"></i></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="~/images/ehram.jpg" alt="img25" />
                    <figcaption>
                        <h2 style="background-color: rgba(0,0,0,0.3);color:white;text-align:right;">الكعبة المشرفة ترتدي ثوب الاحرام</h2>
                        <p>
                            <a href="#"><i class="fa fa-search"></i></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
